/* .swiper {
    width: 480px;
    height: 360px;
  }
  
  .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #97e1e8;
    
      /* Center slide text vertically */
      /* display: flex;
      justify-content: center;
      align-items: center;
    }
    
  .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    } */ 
